@model  IEnumerable<CompareOrderViewModel>

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-truck"></i>
            Orders
            <span>
                >
                Subtitle
            </span>
        </h1>
    </div>
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <div class="col-sm-6">
                <!-- NEW COL START -->
                <article>
                    <div class="jarviswidget" id="PartsGrid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">
                        <header role="heading">
                            <label>Order No:</label>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <!-- widget content -->
                            <div class="row">
                                <div class="col-sm-3 ">
                                    <label>Mike</label>
                                </div>
                                <div class="col-sm-9 col-sm-push-3">
                                    <span>Drowning File&nbsp; <input type="text" readonly /></span>
                                </div>
                            </div>
                            <div class="widget-body no-padding">
                                <div class="tab-content padding-10">
                                    <div class="tab-pane fade active in" id="AllParts">
                                        <div class="padding-10 custom-scroll" style="max-width: inherit; overflow-x: scroll;">
                                            <table id="PartsList" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <td>Tag</td>
                                                        <td>Profile</td>
                                                        <td>Colour</td>
                                                        <td>Group</td>
                                                        <td>Prod ID</td>
                                                        <td>Description</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null && Model.Count() > 0)
                                                    {
                                                        foreach (var tag in Model)
                                                        {
                                                            <tr>
                                                                <td>@tag.Tag</td>
                                                                <td>@tag.Colour</td>
                                                                <td>@tag.Group</td>
                                                                <td>@tag.PartId</td>
                                                                <td>@tag.PartName</td>
                                                                <td>@tag.Profile</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row rowButtons">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <button class="btn btn-primary">Edit</button>
                                        <button class="btn btn-success">Select</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>
                <!-- END COL -->
            </div>
            <div class="col-sm-6">
                <article>
                    <!-- NEW COL START -->
                    <div class="jarviswidget" id="OrdersGrid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">
                        <header role="heading">
                            <label style="margin-left:10px">Order No:</label>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <!-- widget content -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Fred</label>
                                </div>
                                <div class="col-sm-9 col-sm-push-3">
                                    <span>Drowning File&nbsp; <input type="text" readonly /></span>
                                </div>
                            </div>
                            <div class="widget-body no-padding">
                                <div class="tab-content padding-10">
                                    <div class="tab-pane fade active in" id="AllParts">
                                        <div class="padding-10 custom-scroll" style="max-width: inherit; overflow-x: scroll;">
                                            <table id="OrdersList" class="table table-striped table-bordered table-hover ">
                                                <thead>
                                                    <tr>
                                                        <td>Tag</td>
                                                        <td>Profile</td>
                                                        <td>Colour</td>
                                                        <td>Group</td>
                                                        <td>Prod ID</td>
                                                        <td>Description</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null && Model.Count() > 0)
                                                    {
                                                        foreach (var tag in Model)
                                                        {
                                                            <tr>
                                                                <td>@tag.Tag</td>
                                                                <td>@tag.Colour</td>
                                                                <td>@tag.Group</td>
                                                                <td>@tag.PartId</td>
                                                                <td>@tag.PartName</td>
                                                                <td>@tag.Profile</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row rowButtons">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <button class="btn btn-primary">Edit</button>
                                        <button class="btn btn-success">Select</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- END COL -->
                </article>
            </div>
        </div>
        <!-- END ROW -->
    </section>
</div>
<!-- END MAIN CONTENT -->
<style>
    .orderDetailPanel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .orderDetailPanel > div {
            margin: 0px 5px 15px 0px;
        }

        .orderDetailPanel .dropFile {
            overflow-y: scroll;
            max-height: 200px;
        }


    .rowButtons {
        margin-bottom: 5px;
    }
</style>
@section pagespecific {

    </script>
    <script type="text/javascript">
        // pagefunction
        var pagefunction = function () {
            Dropzone.autoDiscover = false;
            $("#mydropzone").dropzone({
                //url: "/file/post",
                addRemoveLinks: true,
                maxFilesize: 0.5,
                dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
                dictResponseError: 'Error uploading file!'
            });

            //File Upload response from the server
            Dropzone.options.dropzoneForm = {
                init: function () {
                    this.on("complete", function (data) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        var res = JSON.parse(data.xhr.responseText);
                    });
                }
            };

        };
        // end pagefunction
    </script>
}

