@model  CompareOrderViewModel

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-truck"></i>
            Orders
            <span>
                >
                Compare
            </span>
        </h1>
    </div>
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <div class="col-sm-6">
                <!-- NEW COL START -->
                <article>
                    <div class="jarviswidget  jarviswidget-color-darken" id="PartsGrid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">
                        <header role="heading">

                            <h2 class="font-md"><strong>Order - </strong> <i>@Model.OrderNo</i></h2>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <!-- widget content -->
                            <div class="row">
                                <div class="col-sm-2 ">
                                    <h2 class="font-md"><strong>@Model.Employee </strong></h2>
                                </div>
                                <div class="col-sm-9 col-sm-push-1">
                                    <strong>Drawing Files:</strong>
                                    <div action="return false;" class="dropzone custom-scroll" id="dropzoneFilesList" style="width:100%; display:inline-block;min-height:0px;max-height:100px;overflow-y:scroll">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="padding-10 custom-scroll" style="max-width: inherit; overflow-x: scroll; margin:5px">
                                    <table id="OrdersList" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td>Tag</td>
                                                <td>Profile</td>
                                                <td>Colour</td>
                                                <td>Group</td>
                                                <td>Prod ID</td>
                                                <td>Description</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.PartsDetail != null && Model.PartsDetail.Count() > 0)
                                                        {
                                                            foreach (var tag in Model.PartsDetail)
                                                            {
                                                        <tr>
                                                            <td>@tag.Tag</td>
                                                            <td>@tag.Colour</td>
                                                            <td>@tag.Group</td>
                                                            <td>@tag.PartId</td>
                                                            <td>@tag.PartName</td>
                                                            <td>@tag.Profile</td>
                                                        </tr>
                                                            }
                                                        }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row rowButtons">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <button class="btn btn-primary">Edit</button>
                                        <button class="btn btn-success">Select</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>
                <!-- END COL -->
            </div>
            <div class="col-sm-6">
                <article>
                    <!-- NEW COL START -->
                    <div class="jarviswidget  jarviswidget-color-darken" id="OrdersGrid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">
                        <header role="heading">
                            <h2 class="font-md"><strong>Order - </strong> <i>@Model.OrderNo</i></h2>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <!-- widget content -->
                            <div class="row">
                                <div class="col-sm-2">
                                    <header role="heading">

                                        <h2 class="font-md"><strong>@Model.Employee </strong></h2>
                                    </header>
                                </div>
                                <div class="col-sm-9 col-sm-push-1">
                                    <strong>Drawing Files:</strong>
                                    <div action="return false;" class="dropzone custom-scroll" id="dropzoneFilesList" style="width:100%; display:inline-block;min-height:0px;max-height:100px;overflow-y:scroll">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="padding-10 custom-scroll" style="max-width: inherit; overflow-x: scroll; margin:5px">
                                    <table id="OrdersList" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td>Tag</td>
                                                <td>Profile</td>
                                                <td>Colour</td>
                                                <td>Group</td>
                                                <td>Prod ID</td>
                                                <td>Description</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.PartsDetail != null && Model.PartsDetail.Count() > 0)
                                            {
                                                foreach (var tag in Model.PartsDetail)
                                                {
                                                    <tr>
                                                        <td>@tag.Tag</td>
                                                        <td>@tag.Colour</td>
                                                        <td>@tag.Group</td>
                                                        <td>@tag.PartId</td>
                                                        <td>@tag.PartName</td>
                                                        <td>@tag.Profile</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row rowButtons">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <button class="btn btn-primary">Edit</button>
                                        <button class="btn btn-success">Select</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- END COL -->
                </article>
            </div>
        </div>
        <!-- END ROW -->



</div>
    </section>
</div>
<!-- END MAIN CONTENT -->


<style>
    .rowButtons {
        margin-bottom: 5px;
    }

    #dropzoneFilesList .dz-image {
        width: 100px;
        height: 100px;
    }

    #dropzoneFilesList.dropzone {
        padding: 0px !important;
        margin: 0px;
    }

    #dropzoneFilesList .dz-preview {
        margin: 5px !important;
    }
</style>


@section pagespecific {
    <script type="text/javascript">
    var filesList = @Html.Raw(Json.Encode(Model.Files));
        if (filesList && filesList.length>0) {
            var myDropzone = new Dropzone("div#dropzoneFilesList", {
                url: "/",
                maxFiles: 0
            });
            $.each(filesList, function (index, item) {

                var mockFile = { name: item.FileName, size: item.size };

                myDropzone.options.addedfile.call(myDropzone, mockFile);
                myDropzone.options.thumbnail.call(myDropzone, mockFile, item.Path);
            });
            myDropzone.disable();
            Dropzone.autoDiscover = false;
        } else {
            $("div#dropzoneFilesList").html("0 Files for the order")
            $("div#dropzoneFilesList").removeClass("dropzone");
        }



    </script>
}

