<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-truck"></i>
                Orders
                <span>
                    >
                    Subtitle
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="well">

            <div class="row">
                <div class="col-md-8">
                    <button class="btn btn-primary" id="compareOrderBtn">Compare</button>
                    <button class="btn btn-default">Review</button>
                    <button class="btn btn-success" id="saveOrderBtn">Save</button>
                    <button class="btn btn-danger">Complete</button>
                </div>
                <div class="col-md-4 pull-right">
                    <div class="col-md-5">
                        <select class="input-lg" id="EntityDDl">
                            <option value="">Select</option>
                            <option value="1">Century</option>
                            <option value="2">Deksmart</option>
                        </select>
                    </div>
                    <div class="col-md-5 pull-right">
                        <h1 class="semi-bold ">Order: 1321</h1>
                    </div>
                </div>

            </div>

        </div>

        <!-- START ROW -->
        <div class="row">
            <article class="col-sm-12 col-md-9 col-lg-9">
                <!-- NEW COL START -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Customer Div-->
                    <div class="jarviswidget  jarviswidget-color-darken" id="wid-id-2" data-widget-colorbutton="false"
                         data-widget-editbutton="false"
                         data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-custombutton="false"
                         data-widget-collapsed="false"
                         data-widget-sortable="false" role="widget">

                        @*<header role="heading">
                                <h2>Customer</h2>
                                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                            </header>*@
                        <!-- widget div-->
                        <header role="heading">
                            @*<div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>  </div>*@

                            <h2 class="font-md"><strong>Order</strong> <i>Details</i></h2>

                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <div role="content">
                            <div class="orderDetailPanel">
                                <!-- Customer Div-->
                                <div class="col-sm-12 col-md-6 col-lg-4 panel panel-default">

                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <div id="checkout-form" class="form-horizontal bv-form" novalidate="novalidate">
                                            <fieldset>
                                                <legend>
                                                    Customer
                                                </legend>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-4">Company</label>
                                                    <div class="col-md-8">
                                                        <label class="control-label">
                                                            Century Aliuminum <i class="fa fa-edit" title="edit"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-4" for="Customer">Customer</label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("CustomerID", (IEnumerable<SelectListItem>)ViewBag.customerList, "Select", new { @class = "input-sm" })
                                                        <i class="fa fa-edit" title="edit"></i>
                                                    </div>
                                                </div>
                                            </fieldset>


                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-4">Work Order No.</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" name="workOrderno" data-bv-field="workOrderno"><i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
                                                    </div>
                                                </div>
                                            </fieldset>



                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-4">Account No.</label>
                                                    <div class="col-md-8">

                                                        <input type="text" class="form-control" id="Condition">

                                                    </div>
                                                </div>
                                            </fieldset>


                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- Shipping Div-->
                                <div class="col-sm-12 col-md-6 col-lg-4 panel panel-default">
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <div id="checkout-form" class="form-horizontal bv-form" novalidate="novalidate">
                                            <fieldset>
                                                <legend>
                                                    Shipping
                                                </legend>

                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-4" for="Charge">Charge</label>
                                                    <div class="col-md-8">
                                                        <label class="select">
                                                            <select class="input-sm" id="Charge">
                                                                <option value="0">Choose name</option>
                                                                <option value="1">Alexandra</option>
                                                                <option value="2">Alice</option>
                                                                <option value="3">Anastasia</option>
                                                                <option value="4">Avelina</option>
                                                            </select> <i class="fa fa-edit" title="edit" data-toggle="modal" data-target="#shipping_edit_modal"></i>
                                                        </label>
                                                    </div>
                                                </div>

                                            </fieldset>

                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-4" for="Carrier">Carrier</label>
                                                    <div class="col-md-8">
                                                        <label class="select">

                                                            @Html.DropDownList("PriorityID", (IEnumerable<SelectListItem>)ViewBag.dropdownVD, "Select", new { @class = "input-sm" })
                                                            <i class="fa fa-edit" title="edit"></i>
                                                            @*<select class="input-sm" id="Carrier">
                                                                    <option value="0">Choose name</option>
                                                                    <option value="1">Alexandra</option>
                                                                    <option value="2">Alice</option>
                                                                    <option value="3">Anastasia</option>
                                                                    <option value="4">Avelina</option>
                                                                </select> <i class="fa fa-edit" title="edit"></i>*@
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-4" for="Payment">Payment Condition</label>
                                                    <div class="col-md-8">
                                                        <label class="select">
                                                            <select class="input-sm" id="Payment">
                                                                <option value="0">Choose name</option>
                                                                <option value="1">Alexandra</option>
                                                                <option value="2">Alice</option>
                                                                <option value="3">Anastasia</option>
                                                                <option value="4">Avelina</option>
                                                            </select> <i class="fa fa-edit" title="edit"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <!-- Drop Files Div-->
                                <div class="col-sm-12 col-md-6 col-lg-4 panel panel-default">
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <fieldset>
                                            <legend>
                                                Order Files
                                            </legend>

                                        </fieldset>
                                        <div class="custom-scroll dropFile">
                                            @*<form action="upload.php" class="dropzone dz-clickable" id="mydropzone"><div class="dz-default dz-message"><span><span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp;&nbsp;<h4 class="display-inline"> (Or Click)</h4></span></span></span></span></div></form>*@
                                            <form action="~/Order/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dz-clickable" id="dropzoneForm" style="min-height:inherit">

                                                <div class="dz-default dz-message">
                                                    <span>
                                                        <span class="text-center">
                                                            <span class="font-lg visible-xs-block visible-sm-block visible-lg-block">
                                                                <span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>
                                                                    &nbsp;&nbsp;
                                                                    <h4 class="display-inline"> (Or Click)</h4>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- Tags Div-->

                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>

                </div>
                <!-- END COL -->
                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="PartsGrid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">

                        <header role="heading">


                            <ul id="widget-tab-1" class="nav  nav-tabs" name="CategoryType">

                                <li class="active" name="All" onclick="refreshPartsGrid();">

                                    <a data-toggle="tab" href="#AllParts" aria-expanded="true">  <span class="hidden-mobile hidden-tablet"> All </span> </a>

                                </li>

                                <li class="" name="Post" onclick="refreshPartsGrid();">
                                    <a data-toggle="tab" href="#AllParts" aria-expanded="false"> <span class="hidden-mobile hidden-tablet"> Post </span></a>
                                </li>

                                <li class="" name="Pillars" onclick="refreshPartsGrid();">
                                    <a data-toggle="tab" href="#AllParts" aria-expanded="false">  <span class="hidden-mobile hidden-tablet"> Pillars </span></a>
                                </li>

                                <li class="" name="Parts" onclick="refreshPartsGrid();">
                                    <a data-toggle="tab" href="#AllParts" aria-expanded="false">  <span class="hidden-mobile hidden-tablet"> Parts </span></a>
                                </li>

                                <li class="" name="Recommended" onclick="refreshPartsGrid();">
                                    <a data-toggle="tab" href="#AllParts" aria-expanded="false">  <span class="hidden-mobile hidden-tablet"> Recommended </span></a>
                                </li>

                            </ul>

                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>

                        <!-- widget div-->
                        <div role="content">


                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <!-- widget body text-->

                                <div class="tab-content padding-10">
                                    <div class="tab-pane fade active in" id="AllParts">

                                        <div class="padding-10">
                                            <div class="row">
                                                <label class="col-sm-6 col-md-6 col-lg-6  select">
                                                    @Html.DropDownList("Categoryddl", (IEnumerable<SelectListItem>)ViewBag.categoriesList, "Select", new { @class = "input-sm" })
                                                </label>
                                                <label class="col-sm-6 col-md-6 col-lg-6">

                                                    <input type="text" id="txt_productSearch" class="" style="width:100%" placeholder="Find by product ID or Description" aria-controls="PartsList">
                                                </label>

                                            </div>
                                            <div class="row">

                                                <table id="PartsList" class="table table-striped table-bordered table-hover"></table>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Post">
                                        <h2>pill</h2>
                                    </div>
                                    <div class="tab-pane fade" id="Pillars">
                                        <h2>Pillars</h2>
                                    </div>
                                    <div class="tab-pane fade" id="Parts">
                                        <h2>Parts</h2>
                                    </div>
                                    <div class="tab-pane fade" id="Recommended">
                                        <h2>Recommended</h2>
                                    </div>
                                </div>
                                <!-- end widget body text-->
                                <!-- widget footer -->
                                <!-- end widget footer -->
                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>

                </article>
                <!-- END COL -->
            </article>
            <article class="col-sm-12 col-md-3 col-lg-3" id="tagSection">
                <div class="jarviswidget jarviswidget-color-darken " id="wid-id-2" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget" style="">

                    <header role="heading">
                        @*<div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>  </div>*@

                        <h2 class="font-md"><i>Tags</i></h2>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content">

                        <!-- widget edit box -->
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div id="checkout-form" class="form-horizontal bv-form" novalidate="novalidate">
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="tag_name" placeholder="Create New Tag">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="button" class="btn btn-primary" id="create_tag_btn" value="Create" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="panel panel-default tagPanelDetail">
                                <div class="panel panel-default tagPanel emptyFormTag">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="tagName" class="col-sm-6 col-md-2 col-lg-2 tagLabel">Name</label>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <input type="text" class="form-control input-xs" id="tagName" placeholder="99418-2">
                                            </div>
                                            <label class="col-sm-6 col-md-2 col-lg-2 tagLabel" for="TagGroup">Group</label>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <label class="select">
                                                    <select class="input-xs tagDropDown" id="TagGroup">
                                                        <option value="0">Select</option>
                                                        <option value="1">Alexandra</option>
                                                        <option value="2">Alice</option>
                                                        <option value="3">Anastasia</option>
                                                        <option value="4">Avelina</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-md-2 col-lg-2 tagLabel" for="TagProfile">Profile</label>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <label class="select">
                                                    <select class="input-xs tagDropDown" id="TagProfile">
                                                        <option value="0">Select</option>
                                                        <option value="1">Century</option>
                                                        <option value="2">Alice</option>
                                                        <option value="3">Anastasia</option>
                                                        <option value="4">Avelina</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <label class="col-sm-6 col-md-2 col-lg-2 tagLabel" for="TagPriority">Priority</label>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <label class="select">
                                                    <select class="input-xs tagDropDown" id="TagPriority">
                                                        <option value="0">Select</option>
                                                        <option value="1">Normal</option>
                                                        <option value="2">Alice</option>
                                                        <option value="3">Anastasia</option>
                                                        <option value="4">Avelina</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 col-md-2 col-lg-2 tagLabel" for="TagColour">Colour</label>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <label class="select">
                                                    @Html.DropDownList("ColourID", (IEnumerable<SelectListItem>)ViewBag.coloutList, "Select", new { @class = "input-xs tagDropDown" })
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-scroll table-responsive" style="height:100px; overflow-y: scroll;">
                                        <table class="table table-bordered" id="emptyFormTagTable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>PartsId</th>
                                                    <th>Description</th>
                                                    <th>Act</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- This table will by dynamically populated. -->
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
        </div>
        <!-- END ROW -->
    </section>
    <!-- Modal -->
    <div class="modal fade" id="shipping_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Quantity:</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" id="quantity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Comments:</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" id="comment"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-success" id="save_shipping_edit_changes">Save</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Ends -->
    <!-- Confirmation Box For Deleting Tag Part -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>Are you want to delete?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirmation Box For Deleting Tag Part Ends -->

    <input type="hidden" id="partsSelected" value="" />

</div>
<!-- END MAIN CONTENT -->
<style>
    .orderDetailPanel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .orderDetailPanel > div {
            margin: 0px 5px 15px 0px;
    }

    .orderDetailPanel .dropFile {
            overflow-y: scroll;
            max-height: 200px;
    }

    .tagDropDown {
        max-width: inherit;
        padding: 2px;
        color: #000;
    }

    .tagPanel {
        padding: 5px;
        border-radius: 5px;
    }

    #tagSection .active table thead {
        color: #000;
    }

    #tagSection .active {
        border-radius: 5px;
        border-color: #3276b1;
        color: #fff;
        background-color: #337ab7;
    }
    /* #tagSection .active label{
       color: #fff;
    }
        #tagSection .active table tbody {

            background-color: #fff;
        }*/
    .tagLabel {
        padding: 0px 10px;
    }
</style>
@section pagespecific {

    <script>

        function createTag() {
            var tagName = $('#txtTagName').val();
            if (tagName) {

            } else {
                $('#txtTagName').focus();
                alert('Please enter Tag name');
            }
        }

        function removePartFrmTag(cntrl) {
            alert(this)
            $(cntrl).closest('tr').remove();

        }

        function editPart() {
            $('#shipping_edit_modal').modal('show');}
        function getPartById(part_id) {
            var return_data;
            var id = parseInt(part_id);
            if (!isNaN(id) && id > 0) {
                $.ajax({
                    dataType: "json",
                    type: "GET",
                    async: false,
                    url: "/Order/GetPartAgainstId",
                    data: { 'partId': id },
                    success: function (data) {
                        return_data = data;
                        addPartToTag(return_data);
                    }
                });
            }
        }

        function addPartToTag(part) {
            var check;
            var tableBody = $('#emptyFormTagTable > tbody');
            var rowCount = $('#emptyFormTagTable tbody tr').length;
            var item = part[0];
            if (item != null) {
                check = checkIfPartAlreadyExistsInTag(rowCount, item.PartID);
                if (!check) {
                    var tr = document.createElement('tr');
                    $(tr).attr('data-partId', item.PartID);
                    var trCol1 = document.createElement('td');
                    var trCol2 = document.createElement('td');
                    var trCol3 = document.createElement('td');
                    var trCol4 = document.createElement('td');

                    trCol1.innerHTML = rowCount + 1;
                    trCol2.innerHTML = item.Name;
                    trCol3.innerHTML = item.Description;
                    var anchorTag = document.createElement('a');
                    anchorTag.setAttribute("onclick", "removePartFrmTag(this)");
                    anchorTag.setAttribute("href", "javascript:void(0);");
                    var icon = document.createElement('i');
                    $(icon).addClass('fa fa-remove text-danger');
                    anchorTag.appendChild(icon);
                    trCol4.appendChild(anchorTag);

                    tr.appendChild(trCol1);
                    tr.appendChild(trCol2);
                    tr.appendChild(trCol3);
                    tr.appendChild(trCol4);
                    tableBody[0].appendChild(tr);
                }
                else {
                    alert("This part already exists in Tag");
                }

            }
        }

        function checkIfPartAlreadyExistsInTag(count, partId) {
            var ids = [];
            if (count > 0) {
                $("#emptyFormTagTable tbody tr").each(function () {
                    var part_id = $(this).data('partid');
                    ids.push(part_id);
                });
                for (var i = 0; i < ids.length; i++) {
                    if (ids[i] === partId) {
                        return true;
                    }
                }

                return false;
            }
            return false;
        }

        function customPart() { }
        function uploadFileOfPart() { }
    </script>

    <script>
        var responsiveHelper_datatable_tabletools = undefined;
        var responsiveHelper = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        var clientTable = $('#PartsList').DataTable({
            serverSide: true,
            "ajax": {
                "url": appRoot + "order/GetOrders",
                "type": 'GET',
                "data": function (d) {
                    d.PartsIds = $('#partsSelected').val();

                }
            },
            "bInfo": false, //Dont display info e.g. "Showing 1 to 4 of 4 entries"
            "searching": false, //Disable searching abilities in DataTables:
            "bPaginate": false,//Dont want paging
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']],
            columns: [
                {
                    name: 'partID',
                    data: "partID",
                    title: "#",
                    sortable: false,
                    searchable: false
                },
                {
                    name: 'categoryID',
                    data: "category.name",
                    title: "Category",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'partID',
                    data: "partID",
                    title: "PartIDs",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'image',
                    data: "image",
                    title: "Image",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'employeeID',
                    data: "employeeID",
                    title: "No.",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'description',
                    data: "description",
                    title: "Description",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'prices',
                    data: "prices",
                    title: "Price",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'comments',
                    data: "comments",
                    title: "Comment",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'weightMeasurement',
                    data: "weightMeasurement",
                    title: "Qty",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'weightMeasurement',
                    data: "weightMeasurement",
                    title: "Mea Unit",
                    width: "60px",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'weight',
                    data: "weight",
                    title: "Weight",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'partID',
                    data: "partID",
                    title: "Action",
                    sortable: false,
                    searchable: false,
                    width: "150px",
                    render: function (data, type, row) {
                        if (type === 'display') {

                            return '<a href="javascript:void(0);" class="btn btn-info btn-xs" title=" Edit" onclick="editPart(' + data + ');"> Edit </a> &nbsp;&nbsp;' +
                                '<a href="javascript:void(0);" class="btn btn-info btn-xs" title=" Add" onclick="getPartById(' + data + ');"> Add </a>&nbsp; &nbsp;' +
                                '<a href="javascript:void(0);" class="btn btn-info btn-xs" title=" Custom" onclick="customPart(' + data + ');"> Custom </a>'
                        }
                        return data;
                    }
                },
                {
                    name: 'files',
                    data: "files",
                    title: "File",
                    sortable: false,
                    searchable: false,
                    render: function (data, type, row) {
                        if (type === 'display') {

                            return '<a href="javascript:void(0);" class="btn btn-info btn-xs" title=" Edit" onclick="uploadFileOfPart(' + data + ');"> Upload File </a>';
                        }
                        return data;
                    }
                }
            ],
            "scrollX": true,
            "oLanguage": {
                "sSearch": ""
            },
            initComplete: function () {

            },
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper) {
                    responsiveHelper = new ResponsiveDatatablesHelper($('#PartsList'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper.respond();
            }
        });
        clientTable.on('order.dt search.dt', function () {
            clientTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        var attendeeUrl = '@Url.Action("GetItems", "Order")';
        var pageSize = 20;

        var select2Instance = $("#txt_productSearch").select2({
            ajax: {
                url: attendeeUrl,
                dataType: 'json',
                delay: 250,
                data: function (term, page) {
                    page = page > 1 ? page : 0;
                    var cat = $('#Categoryddl').val();
                    var subCategory = cat ? cat : 0;
                    var Category = $('[name=CategoryType] li.active').attr('name');
                    return {
                        pageSize: pageSize,
                        pageNum: page,
                        searchTerm: term,
                        Category: Category,
                        subCategory: subCategory
                    };
                },

                results: function (data, page) {
                    //Used to determine whether or not there are more results available,
                    //and if requests for more data should be sent in the infinite scrolling
                    var more = (page * pageSize) < data.Total;
                    return { results: data.Results, more: more };
                },
                cache: true
            },
            dropdownParent: jQuery('div#txt_productSearch'),
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 1,
            allowClear: true

            ////  templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });

        select2Instance.on('results:message', function (params) {
            this.dropdown._resizeDropdown();
            this.dropdown._positionDropdown();
        });

        $("#txt_productSearch").on("change", function (event) {

            // getting selected value
            var last = $("#txt_productSearch").select2('data');
            // adding the data in the grid
            addPartItem(last.id);

            $("#txt_productSearch").select2("val", "");
        });

        function addPartItem(itemId) {
            var attendeeUrl = '@Url.Action("GetPartAgainstId", "Order")';
            var counter = 0;
            var partsId = $('#partsSelected').val();
            if (partsId) {
                if (partsId.indexOf(itemId) == -1) {
                    partsId += "," + itemId;
                }
            } else {
                partsId = itemId;
            }
            $('#partsSelected').val(partsId);
            clientTable.ajax.reload();

        }

    </script>
    <script type="text/javascript">

          /* DO NOT REMOVE : GLOBAL FUNCTIONS!
           *
           * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
           *
           * // activate tooltips
           * $("[rel=tooltip]").tooltip();
           *
           * // activate popovers
           * $("[rel=popover]").popover();
           *
           * // activate popovers with hover states
           * $("[rel=popover-hover]").popover({ trigger: "hover" });
           *
           * // activate inline charts
           * runAllCharts();
           *
           * // setup widgets
           * setup_widgets_desktop();
           *
           * // run form elements
           * runAllForms();
           *
           ********************************
           *
           * pageSetUp() is needed whenever you load a page.
           * It initializes and checks for all basic elements of the page
           * and makes rendering easier.
           *
           */

          //    pageSetUp();

          /*
           * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
           * eg alert("my home function");
           *
           * var pagefunction = function() {
           *   ...
           * }
           * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
           *
           */

          // PAGE RELATED SCRIPTS

          // pagefunction

          var pagefunction = function () {

              Dropzone.autoDiscover = false;
              $("#mydropzone").dropzone({
                  //url: "/file/post",
                  addRemoveLinks: true,
                  maxFilesize: 0.5,
                  dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
                  dictResponseError: 'Error uploading file!'
              });

              //File Upload response from the server
              Dropzone.options.dropzoneForm = {
                  init: function () {
                      this.on("complete", function (data) {
                          //var res = eval('(' + data.xhr.responseText + ')');
                          var res = JSON.parse(data.xhr.responseText);
                      });
                  }
              };

          };

        // end pagefunction

    </script>
    <script>

        $('#saveOrderBtn').on('click', function () {
            window.location.href = "/Dashboard/Index";
        });

        $('#compareOrderBtn').on('click', function () {
            window.location.href = "/Order/CompareOrder";
        });


        function removePartFrmTag(cntrl) {
            //$.confirm(function () { $(cntrl).closest('tr').remove(); }, null)
            $('#confirm-delete').modal('show');
        }

    </script>
}