@model CenDek.Models.NewCustomerOrder
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-truck"></i>
                Orders
                <span>
                    >
                    New Order
                </span>
            </h1>
        </div>


    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                    

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="row">
                                <form id="wizard-1" novalidate="novalidate">
                                    <div id="bootstrap-wizard-1" class="col-sm-12">
                                        <div class="form-bootstrapWizard">
                                            <ul class="bootstrapWizard form-wizard">
                                                <li class="active" data-target="#step1">
                                                    <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Basic information</span> </a>
                                                </li>
                                                <li data-target="#step2" class="disabled">
                                                    <div href="#tab2"> <span class="step">2</span> <span class="title">Tags</span> </div>
                                                </li>
                                                <li data-target="#step3" class="disabled">
                                                    <div href="#tab3"> <span class="step">3</span> <span class="title">Parts</span> </div>
                                                </li>
                                                <li data-target="#step4" class="disabled">
                                                    <div href="#tab4"> <span class="step">4</span> <span class="title">Shipping</span> </div>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <br>
                                                <h3><strong>Step 1 </strong> - Basic Information</h3>
                                                @using (Html.BeginForm("New", "Order", FormMethod.Post, new { @class = "form-group", role = "form", id = "newOrderForm" }))
                                                {


                                                    <fieldset>
                                                        @Html.HiddenFor(model => model.customerID)
                                                        <section>
                                                            <label for="CompanyName" class="input">
                                                                @Html.TextBoxFor(model => model.customer.Company, new { @placeholder = Html.DisplayNameFor(n => n.customer.Company) })
                                                                @Html.ValidationMessageFor(model => model.customer.Company, "", new { @class = "text-danger" })
                                                            </label>
                                                        </section>

                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="input">
                                                                    <i class="icon-prepend fa fa-phone"></i>
                                                                    @Html.TextBoxFor(model => model.customer.PhoneNo, new { @placeholder = Html.DisplayNameFor(n => n.customer.PhoneNo), @data_mask = "(999) 999-9999", aria_required = "true", @aria_invalid = "false", @class = "valid" })
                                                                    @Html.ValidationMessageFor(model => model.customer.PhoneNo, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="input">
                                                                    <i class="icon-prepend fa fa-fax"></i>
                                                                    @Html.TextBoxFor(model => model.customer.Fax, new { @placeholder = Html.DisplayNameFor(n => n.customer.Fax), @data_mask = "(999) 999-9999", aria_required = "true", @aria_invalid = "false", @class = "valid" })
                                                                    @Html.ValidationMessageFor(model => model.customer.Fax, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset>
                                                        <legend>Billing Address</legend>

                                                        <section>
                                                            <label for="Address1" class="input">
                                                                @Html.TextBoxFor(model => model.customer.Address1, new { @placeholder = Html.DisplayNameFor(n => n.customer.Address1) })
                                                                @Html.ValidationMessageFor(model => model.customer.Address1, "", new { @class = "text-danger" })
                                                            </label>
                                                        </section>

                                                        <section>
                                                            <label for="address2" class="input">
                                                                @Html.TextBoxFor(model => model.customer.Address2, new { @placeholder = Html.DisplayNameFor(n => n.customer.Address2) })
                                                                @Html.ValidationMessageFor(model => model.customer.Address2, "", new { @class = "text-danger" })
                                                            </label>
                                                        </section>
                                                        <div class="row">

                                                            <section class="col col-2">
                                                                <label class="input">
                                                                    @Html.TextBoxFor(model => model.customer.City, new { placeholder = Html.DisplayNameFor(n => n.customer.City) })
                                                                    @Html.ValidationMessageFor(model => model.customer.City, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>

                                                            <section class="col col-2">
                                                                <label class="input">
                                                                    @Html.TextBoxFor(model => model.customer.Province, new { placeholder = Html.DisplayNameFor(n => n.customer.Province) })
                                                                    @Html.ValidationMessageFor(model => model.customer.Province, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>

                                                            <section class="col col-2">
                                                                <label class="select">
                                                                    <select data-val="true" id="Country" name="Country">
                                                                        @if (Model.customer.Country == "Canada")
                                                                        {
                                                                            <option value="Not Set">Choose Country</option>
                                                                            <option value="Canada" selected>Canada</option>
                                                                            <option value="US">United States</option>
                                                                        }
                                                                        else if (Model.customer.Country == "US")
                                                                        {
                                                                            <option value="Not Set">Choose Country</option>
                                                                            <option value="Canada">Canada</option>
                                                                            <option value="US" selected>United States</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="Not Set">Choose Country</option>
                                                                            <option value="Canada">Canada</option>
                                                                            <option value="United States">United States</option>
                                                                        }
                                                                    </select>
                                                                    <i>
                                                                    </i>
                                                                    @*@Html.TextBoxFor(model => model.Country, new { placeholder = Html.DisplayNameFor(n => n.Country) })
                                                                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })*@
                                                                </label>
                                                            </section>

                                                            <section class="col col-2">
                                                                <label class="input">
                                                                    @Html.TextBoxFor(model => model.customer.PostalCode, new { placeholder = Html.DisplayNameFor(n => n.customer.PostalCode) })
                                                                    @Html.ValidationMessageFor(model => model.customer.PostalCode, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <section>
                                                            <label class="textarea">
                                                                @Html.TextAreaFor(model => model.customer.Comments, new { placeholder = Html.DisplayNameFor(n => n.customer.Comments) })
                                                                @Html.ValidationMessageFor(model => model.customer.Comments, "", new { @class = "text-danger" })
                                                            </label>
                                                        </section>
                                                    </fieldset>


                                                <div class="well">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <a class="btn btn-default" href="@Url.Action("Index")">
                                                                Cancel
                                                            </a>
                                                            <button class="btn btn-primary" type="submit">
                                                                <i class="fa fa-save"></i>
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                                }
                                            </div>
                                    

                                           

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->
        </div>

    </section>
</div>
        <!-- END MAIN CONTENT -->
        @section pagespecific {
        }
