@model OrderReviewViewModel

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-truck"></i>
                Orders
                <span>
                    >
                    Subtitle
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <article class="col-sm-12 col-md-9 col-lg-9">
                <!-- NEW COL START -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Customer Div-->
                    <div class="jarviswidget  jarviswidget-color-darken" id="wid-id-2" data-widget-colorbutton="false"
                         data-widget-editbutton="false"
                         data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-custombutton="false"
                         data-widget-collapsed="false"
                         data-widget-sortable="false" role="widget">
                        <!-- widget div-->
                        <header role="heading">
                            <h2 class="font-md"><strong>Order</strong> <i>Details</i></h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <div role="content">
                            <div class="orderDetailPanel">
                                <!-- Customer Div-->
                                <div class="col-sm-12 col-md-6 col-lg-4 panel panel-default">

                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <div id="checkout-form" class="form-horizontal bv-form" novalidate="novalidate">

                                            <fieldset>
                                                <legend>
                                                    <strong>Order Info</strong>
                                                </legend>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-5">Work Order No.</label>
                                                    <div class="col-sm-7">
                                                        <label class="form-control" name="workOrderno" data-bv-field="workOrderno">@Model.Order.CustOrderID</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-5">Invoice No.</label>
                                                    <div class="col-sm-7">
                                                        <label class="form-control" name="invoiceNo" data-bv-field="invoiceNo">@Model.Order.InvoiceNo</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>
                                                    <strong>Customer</strong>
                                                </legend>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-5">Name</label>
                                                    <div class="col-md-7">
                                                        @Html.DropDownListFor(model => Model.CustomerContactId, new SelectList(Model.ContactDropdown, "ContactId", "Name"), "--Select--", new { @class = "form-control input-sm", @id = "customerContacts" })
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-5">Company</label>
                                                    <div class="col-md-7">
                                                        <label class="control-label">
                                                            @Model.Customer.Company
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-5">Phone No.</label>
                                                    <div class="col-md-7">
                                                        <label class="control-label">@Model.Customer.PhoneNo</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-5">Cell No.</label>
                                                    <div class="col-md-7">
                                                        <label class="control-label">@Model.Customer.Fax</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- Action Div-->
                                <div class="col-sm-12 col-md-6 col-lg-4 panel panel-default">
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <div class="form-horizontal bv-form" novalidate="novalidate">
                                            <fieldset>
                                                <legend>
                                                    <strong>Action - Quote/Order</strong>
                                                </legend>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-12">Approved By: Victor 12 June 2017</label>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <div class="col-md-5">
                                                        <button class="btn btn-primary">Quote</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <div class="col-md-5">
                                                        <button class="btn btn-primary">Work Order</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <div class="col-md-5">
                                                        <button class="btn btn-primary">Update Order</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <!-- Shipping Div-->
                                <div class="col-sm-12 col-md-6 col-lg-4 panel panel-default">
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <div class="form-horizontal" novalidate="novalidate">
                                            <fieldset>
                                                <legend>
                                                    <strong>Shipping</strong>
                                                </legend>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <span class="col-sm-6 no-padding">Shipping for Tag</span>
                                                    <div class="col-sm-6 no-padding">
                                                        @Html.DropDownListFor(model => Model.ShipmentTagId, new SelectList(Model.TagDropdown, "TagId", "Name"), "", new { @style = "width:100%", @id = "custOrderTags", multiple = "multiple" })
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <span class="col-sm-6 no-padding">Proposed Ship Date</span>
                                                    <div class="col-sm-6 no-padding">
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-calendar"></i>*@
                                                            <input type="text" name="ship_date" class="datepicker hasDatepicker form-control" data-dateformat="dd/mm/yy" id="dp1503314538839">
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <span class="col-sm-6 no-padding">Carrier</span>
                                                    <div class="col-sm-6 no-padding">
                                                        @Html.DropDownListFor(model => Model.CustomerContactId, new SelectList(Model.CarrierDropdown, "CarrierId", "Name"), "Select", new { @class = "form-control input-sm", @id = "carriers" })
                                                        @*<input type="text" class="form-control pull-right" id="carrier"/>*@
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <span class="col-sm-6 no-padding">Charges</span>
                                                    <div class="col-sm-6 no-padding">
                                                        <input type="text" class="form-control pull-right" id="kitFeeValue" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <span class="col-sm-6 no-padding">Sales Person</span>
                                                    <div class="col-sm-6 no-padding">
                                                        <input type="text" class="form-control pull-right" id="kitFeeValue" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group has-feedback">
                                                    <span class="col-sm-6 no-padding">Payment Condition</span>
                                                    <div class="col-sm-6 no-padding">
                                                        <select class="input-xs form-control" id="paymentCondition">
                                                            <option value="0">Select</option>
                                                            <option value="1">Alexandra</option>
                                                            <option value="2">Alice</option>
                                                            <option value="3">Anastasia</option>
                                                            <option value="4">Avelina</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- Tags Div-->

                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>

                </div>
                <!-- END COL -->
                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="PartsGrid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">
                        <header role="heading">
                            @*<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>*@
                        </header>
                        <!-- widget div-->
                        <div class="well">
                            <div class="widget-body no-padding">
                                <!-- widget body text-->
                                <div class="tab-content padding-10">
                                    <div class="tab-pane fade active in" id="AllParts">
                                        <div class="padding-10 custom-scroll" style="max-width: inherit; overflow-x: scroll;">
                                            <div class="row">
                                                <table id="PartsList" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <td><strong>Tag</strong></td>
                                                            <td><strong>Profile</strong></td>
                                                            <td><strong>Colour</strong></td>
                                                            <td><strong>Group</strong></td>
                                                            <td><strong>Prod Id</strong></td>
                                                            <td><strong>Description</strong></td>
                                                            <td><strong>Custom</strong></td>
                                                            <td><strong>Comment</strong></td>
                                                            <td><strong>Qty</strong></td>
                                                            <td><strong>Mea Unit</strong></td>
                                                            <td><strong>Weight</strong></td>
                                                            <td><strong>File</strong></td>
                                                            <td><strong>Unit Sell</strong></td>
                                                            <td><strong>Total</strong></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.OrderParts != null && Model.OrderParts.Count > 0)
                                                        {
                                                            foreach (var orderPart in Model.OrderParts)
                                                            {
                                                                <tr>
                                                                    <td>@orderPart.Tag</td>
                                                                    <td>@orderPart.Profile</td>
                                                                    <td>@orderPart.Colour</td>
                                                                    <td>@orderPart.Group</td>
                                                                    <td>@orderPart.PartId</td>
                                                                    <td>@orderPart.PartName</td>
                                                                    <td>
                                                                        @if (orderPart.Custom)
                                                                        {
                                                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                                                        }
                                                                        else
                                                                        {
                                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                                        }
                                                                    </td>
                                                                    <td>@orderPart.Comment</td>
                                                                    <td>@orderPart.Quantity</td>
                                                                    <td></td>
                                                                    <td>@orderPart.Weight</td>
                                                                    <td>@orderPart.FileName</td>
                                                                    <td></td>
                                                                    <td>@orderPart.Total</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>
                <!-- END COL -->
            </article>
            <article class="col-sm-12 col-md-3 col-lg-3" id="PricingSection">
                <div class="jarviswidget jarviswidget-color-darken " id="wid-id-2" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget" style="">
                    <header role="heading">
                        <h2 class="font-md"><i>Pricing - CAD</i></h2>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <!-- widget div-->
                    <div role="content">
                        <div class="widget-body">
                            <div class="form-horizontal pricing-form" novalidate="novalidate">
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-5">Currency</label>
                                        <div class="col-sm-7">
                                            <select class="input-sm currencyDropDown form-control" id="currency_dropdown">
                                                <option value="0">Select</option>
                                                <option value="1">Alexandra</option>
                                                <option value="2">Alice</option>
                                                <option value="3">Anastasia</option>
                                                <option value="4">Avelina</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">Price Order Date</label>
                                        <div class="col-sm-6">
                                            <input class="form-control datepicker" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">Total</label>
                                        <div class="col-sm-6">
                                            <label class="pull-right" id="totalValue">$90</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">Packaging</label>
                                        <div class="col-sm-6">
                                            <label class="pull-right" id="totalValue">$90</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">Discount</label>
                                        <div class="col-sm-6">
                                            <label class="pull-right" id="totalValue">$90</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">Sub Total</label>
                                        <div class="col-sm-6">
                                            <label class="pull-right" id="totalValue">$90</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">PST</label>
                                        <div class="col-sm-6">
                                            <label class="pull-right" id="pstValue">0 %</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">GST</label>
                                        <div class="col-sm-6">
                                            <label class="pull-right" id="gstValue">$ 4.69</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">HST</label>
                                        <div class="col-sm-6">
                                            <label class="pull-right" id="hstValue">0 %</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-6">Balance Due</label>
                                        <div class="col-sm-6">
                                            <label class="pull-right" id="balanceDueValue">$ 90</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- END ROW -->
    </section>

</div>
<!-- END MAIN CONTENT -->

<style>
    .orderDetailPanel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .orderDetailPanel > div {
            margin: 0px 5px 15px 0px;
        }

        .orderDetailPanel .dropFile {
            overflow-y: scroll;
            max-height: 200px;
        }
</style>

@section pagespecific {

    <script>
        $("#custOrderTags").select2({
            placeholder: "Select",
            allowClear: true
        });
        
    </script>
}