@model IEnumerable<DataAccess.Models.CustomerContact>

@foreach (var contact in Model)
{
    var cardId = "card" + contact.CustomerContactID;
    var firstId = "first" + contact.CustomerContactID;
    var lastId = "last" + contact.CustomerContactID;
    var titleId = "title" + contact.CustomerContactID;
    var notesId = "notes" + contact.CustomerContactID;
    <div id="@cardId" data-id="@contact.CustomerContactID" class="card">
        <div class="deleteContact"><i class="fa fa-fw fa-lg fa-times-circle deleteContactIcon" title="Delete Contact" onclick="CustomerContactDeleteClick('@contact.CustomerContactID', '@contact.First', '@contact.Last')"></i></div>
        <h4>
            <strong>
                <span id="@lastId" data-id="@contact.CustomerContactID" data-field="Last" data-prev="@Html.DisplayFor(x => contact.Last)">@Html.DisplayFor(x => contact.Last)</span>, 
                <span id="@firstId" data-id="@contact.CustomerContactID" data-field="First" data-prev="@Html.DisplayFor(x => contact.First)">@Html.DisplayFor(x => contact.First)</span>
            </strong>
        </h4>
        @if (contact.JobTitle != null)
        {
            <p><strong>Title</strong>: <span id="@titleId" data-id="@contact.CustomerContactID" data-field="JobTitle" data-prev="@Html.DisplayFor(x => contact.JobTitle)">@Html.DisplayFor(x => contact.JobTitle)</span></p>
        }
        else
        {
            <p><strong>Title</strong>: <span id="@titleId" data-id="@contact.CustomerContactID" data-field="JobTitle" data-prev="">&lt;Title&gt;</span></p>
        }
        @foreach (var contactInfo in contact.ContactInfos)
        {
            var nameId = "name" + contactInfo.ContactInfoID;
            var contactId = "contact" + contactInfo.ContactInfoID;
            var contactInfoId = "contactInfo" + contactInfo.ContactInfoID;
            if (contactInfo.ContactInfoType.Name == "Phone" && contactInfo.PrimaryContact)
            {
                <p id="@contactInfoId"><span class="contactInfo"><i class="fa fa-fw fa-lg fa-phone-square" title="Phone"></i> 
                <strong><span id="@nameId" data-id="@contactInfo.ContactInfoID" data-field="Name" data-prev="@Html.DisplayFor(x => contactInfo.Name)">@Html.DisplayFor(x => contactInfo.Name)</span></strong>: 
                <span id="@contactId" data-id="@contactInfo.ContactInfoID" data-field="Contact" data-prev="@Html.DisplayFor(x => contactInfo.Contact)">@Html.DisplayFor(x => contactInfo.Contact)</span> 
                <i class="fa fa-fw fa-lg fa-check greenIcon" title="Primary Contact"></i> </span>
                <i class="fa fa-fw fa-lg fa-minus-circle" title="Remove @Html.DisplayFor(x => contactInfo.Contact)" onclick="ContactInfoDeleteClick('@contactInfo.ContactInfoID', '@contactInfo.Contact')"></i></p>
            }
            else if (contactInfo.ContactInfoType.Name == "Phone")
            {
                <p id="@contactInfoId"><span class="contactInfo"><i class="fa fa-fw fa-lg fa-phone-square" title="Phone"></i> 
                <strong><span id="@nameId" data-id="@contactInfo.ContactInfoID" data-field="Name" data-prev="@Html.DisplayFor(x => contactInfo.Name)">@Html.DisplayFor(x => contactInfo.Name)</span></strong>: 
                <span id="@contactId" data-id="@contactInfo.ContactInfoID" data-field="Contact" data-prev="@Html.DisplayFor(x => contactInfo.Contact)">@Html.DisplayFor(x => contactInfo.Contact)</span> </span>
                <i class="fa fa-fw fa-lg fa-minus-circle" title="Remove @Html.DisplayFor(x => contactInfo.Contact)" onclick="ContactInfoDeleteClick('@contactInfo.ContactInfoID', '@contactInfo.Contact')"></i></p>
            }
            else if (contactInfo.ContactInfoType.Name == "Email" && contactInfo.PrimaryContact)
            {
                <p id="@contactInfoId"><span class="contactInfo"><i class="fa fa-fw fa-lg fa-envelope" title="Email"></i> 
                <strong><span id="@nameId" data-id="@contactInfo.ContactInfoID" data-field="Name" data-prev="@Html.DisplayFor(x => contactInfo.Name)">@Html.DisplayFor(x => contactInfo.Name)</span></strong>: 
                <span id="@contactId" data-id="@contactInfo.ContactInfoID" data-field="Contact" data-prev="@Html.DisplayFor(x => contactInfo.Contact)">@Html.DisplayFor(x => contactInfo.Contact)</span> 
                <i class="fa fa-fw fa-lg fa-check greenIcon" title="Primary Contact"></i> </span>
                <i class="fa fa-fw fa-lg fa-minus-circle" title="Remove @Html.DisplayFor(x => contactInfo.Contact)" onclick="ContactInfoDeleteClick('@contactInfo.ContactInfoID', '@contactInfo.Contact')"></i></p>
            }
            else  // (contactInfo.ContactInfoType.Name == "Email")
            {
                <p id="@contactInfoId"><span class="contactInfo"><i class="fa fa-fw fa-lg fa-envelope" title="Email"></i>
                <strong><span id="@nameId" data-id="@contactInfo.ContactInfoID" data-field="Name" data-prev="@Html.DisplayFor(x => contactInfo.Name)">@Html.DisplayFor(x => contactInfo.Name)</span></strong>: 
                <span id="@contactId" data-id="@contactInfo.ContactInfoID" data-field="Contact" data-prev="@Html.DisplayFor(x => contactInfo.Contact)">@Html.DisplayFor(x => contactInfo.Contact)</span> </span>
                <i class="fa fa-fw fa-lg fa-minus-circle" title="Remove @Html.DisplayFor(x => contactInfo.Contact)" onclick="ContactInfoDeleteClick('@contactInfo.ContactInfoID', '@contactInfo.Contact')"></i></p>
            }
        }
        <p><i class="fa fa-fw fa-lg fa-plus-circle addInfo" title="Add new contact info" onclick="ContactInfoAddClick('@contact.CustomerContactID')"></i></p>
        @if (contact.Notes != null)
        {
            <p><strong>Notes</strong>: <span id="@notesId" data-id="@contact.CustomerContactID" data-field="Notes" data-prev="@Html.DisplayFor(x => contact.Notes)">@Html.DisplayFor(x => contact.Notes)</span></p>
        }
        else
        {
            <p><strong>Notes</strong>: <span id="@notesId" data-id="@contact.CustomerContactID" data-field="Notes" data-prev="">&lt;Notes&gt;</span></p>
        }
    </div> 
}
<script>
    $(document).ready(function () {
    @foreach (var contact in Model)
    {
        @Html.Raw("$('#title" + contact.CustomerContactID + "').click(ContactEditSpanClicked);\n")
        @Html.Raw("$('#first" + contact.CustomerContactID + "').click(ContactEditSpanClicked);\n")
        @Html.Raw("$('#last" + contact.CustomerContactID + "').click(ContactEditSpanClicked);\n")
        @Html.Raw("$('#notes" + contact.CustomerContactID + "').click(ContactEditSpanClicked);\n")
        foreach (var contactInfo in contact.ContactInfos)
        {
            @Html.Raw("$('#name" + contactInfo.ContactInfoID + "').click(ContactEditSpanClicked);\n")
            @Html.Raw("$('#contact" + contactInfo.ContactInfoID + "').click(ContactEditSpanClicked);\n")
        }
    }
    });
</script>