@model DataAccess.Models.Customer
@{
    ViewBag.Title = "EditCustomer";
}

@using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post, new { @class = "form-group", role = "form", id = "EditCustomerForm" }))
{
    <header role="heading">
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>

    <!-- widget div-->
    <div role="content">

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body">
            <div id="update-company-details-form" class="smart-form" novalidate="novalidate">
                <fieldset>
                    @Html.HiddenFor(model => model.CustomerID)
                    <legend>Customer ID: <strong>@Html.DisplayFor(model => model.CustomerID)</strong></legend>
                    <section>
                        <label for="CompanyName" class="input">
                            @Html.TextBoxFor(model => model.Company, new { @placeholder = Html.DisplayNameFor(n => n.Company) })
                            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                        </label>
                    </section>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-phone"></i>
                                @Html.TextBoxFor(model => model.PhoneNo, new { @placeholder = Html.DisplayNameFor(n => n.PhoneNo), @data_mask = "(999) 999-9999", aria_required = "true", @aria_invalid = "false", @class = "valid" })
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-fax"></i>
                                @Html.TextBoxFor(model => model.Fax, new { @placeholder = Html.DisplayNameFor(n => n.Fax), @data_mask = "(999) 999-9999", aria_required = "true", @aria_invalid = "false", @class = "valid" })
                                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                            </label>
                        </section>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Billing Address</legend>

                    <section>
                        <label for="Address1" class="input">
                            @Html.TextBoxFor(model => model.Address1, new { @placeholder = Html.DisplayNameFor(n => n.Address1) })
                            @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                        </label>
                    </section>

                    <section>
                        <label for="address2" class="input">
                            @Html.TextBoxFor(model => model.Address2, new { @placeholder = Html.DisplayNameFor(n => n.Address2) })
                            @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                        </label>
                    </section>
                    <div class="row">

                        <section class="col col-2">
                            <label class="input">
                                @Html.TextBoxFor(model => model.City, new { placeholder = Html.DisplayNameFor(n => n.City) })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </label>
                        </section>

                        <section class="col col-2">
                            <label class="input">
                                @Html.TextBoxFor(model => model.Province, new { placeholder = Html.DisplayNameFor(n => n.Province) })
                                @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
                            </label>
                        </section>

                        <section class="col col-2">
                            <label class="select">
                                @Html.DropDownListFor(model => model.Country, new SelectList(new string[] { "Canada", "United States" }, Model.Country), "Country")
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </label>
                        </section>

                        <section class="col col-2">
                            <label class="input">
                                @Html.TextBoxFor(model => model.PostalCode, new { placeholder = Html.DisplayNameFor(n => n.PostalCode) })
                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                            </label>
                        </section>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Comments</legend>
                    <section>
                        <label class="textarea">
                            @Html.TextAreaFor(model => model.Comments, new { placeholder = Html.DisplayNameFor(n => n.Comments), @class = "comments" })
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </label>
                    </section>
                </fieldset>
                <fieldset>
                    <legend>Other</legend>
                    <div class="row">
                        <section class="col col-3">
                            DekSmart Discount
                            <label class="input">
                                <i class="icon-prepend fa fa-percent"></i>
                                @Html.TextBoxFor(model => model.DekSmartDiscount, new { @placeholder = Html.DisplayNameFor(n => n.DekSmartDiscount), aria_required = "true", @aria_invalid = "false", @class = "valid" })
                                @Html.ValidationMessageFor(model => model.DekSmartDiscount, "", new { @class = "text-danger" })
                            </label>
                        </section>
                        <section class="col col-3">
                            Packaging
                            <label class="input">
                                <i class="icon-prepend fa fa-percent"></i>
                                @Html.TextBoxFor(model => model.Packaging, new { @placeholder = Html.DisplayNameFor(n => n.Packaging), aria_required = "true", @aria_invalid = "false", @class = "valid" })
                                @Html.ValidationMessageFor(model => model.Packaging, "", new { @class = "text-danger" })
                            </label>
                        </section>
                        <section class="col col-3">
                            Ship Charges
                            <label class="select">
                                @Html.DropDownListFor(model => model.ShipCharges, new SelectList(new string[] { "Collect", "Prepaid", "None" }, Model.ShipCharges))
                                @Html.ValidationMessageFor(model => model.ShipCharges, "", new { @class = "text-danger" })
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="">
                                GST Exempt
                                @Html.CheckBoxFor(model => model.GSTExempt)
                                @Html.ValidationMessageFor(model => model.GSTExempt, "", new { @class = "text-danger" })
                            </label>&nbsp;&nbsp;&nbsp;
                            <label class="">
                                PST Exempt
                                @Html.CheckBoxFor(model => model.PSTExempt)
                                @Html.ValidationMessageFor(model => model.PSTExempt, "", new { @class = "text-danger" })
                            </label>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- end widget content -->
        <button type="submit" class="btn btn-primary" id="UpdateCustomerSubmit" style="margin-left: 15px;">Save changes</button>
        <span id="UpdateCompanyError" style="margin-left: 25px;" class="text-danger field-validation-error"></span>
    </div>
    <!-- end widget div -->
}
<button class="btn btn-primary" id="DeleteCustomer" style="margin-left: 15px;" >Delete Customer</button>