@model DataAccess.Models.Customer

<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa  fa-address-card"></i>
                @Model.Company
            </h1>
        </div>
    </div>
    <div class="well">
        <div class="row">
            <!--address start-->
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h3 class="text-primary">Address</h3>
                <address>
                    <strong>@Model.Company</strong><br>
                    @Model.Address1, @Model.Address2<br>
                    @Model.City, @Model.Country, @Model.PostalCode<br>
                    <abbr title="Phone">P:</abbr> @Model.PhoneNo
                </address>
                <address>
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#updateCompanyDetails"> <i class="fa fa-plus"></i> Update </button>
                </address>
            </div>
            <!--address end-->

            <!-- Modal -->
            <div class="modal fade" id="updateCompanyDetails" tabindex="-1" role="dialog" aria-labelledby="updateCompanyDetails">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Update Company Info</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("Partial_Views/UpdateCompanyDetails", new DataAccess.Models.Customer())
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal-->

            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">


            <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">



                        <ul id="Tab1" class="nav nav-tabs bordered">
                            <li class="active">
                                <a href="#s1" data-toggle="tab" aria-expanded="false"><i class="fa fa-fw fa-lg fa-address-book"></i> Contacts</a>
                            </li>
                            <li>
                                <a href="#s2" data-toggle="tab" aria-expanded="true"><i class="fa fa-fw fa-lg fa-truck"></i> Orders</a>
                            </li>
                            <li>
                                <a href="#s3" data-toggle="tab" aria-expanded="true"><i class="fa fa-fw fa-lg fa-quote-left"></i> Quotes</a>
                            </li>
                            <li>
                                <a href="#s4" data-toggle="tab" aria-expanded="true"><i class="fa fa-fw fa-lg fa-plane"></i> Shipping Address</a>
                            </li>
                        </ul>

                        <div id="myTabContent1" class="tab-content padding-10">
                            <div class="tab-pane fade in active" id="s1">
                                <div class="row">
                                    <div class="col-sm-12 text-align-left">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#newContact"> <i class="fa fa-plus"></i> New Contact </button>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="newContact" tabindex="-1" role="dialog" aria-labelledby="newContact">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        @Html.Partial("Partial_Views/NewContact", new DataAccess.Models.CustomerContact())
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Modal-->

                                    </div>
                                </div>
                                <div class="padding-10">
                                    <table id="Contacts"></table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="s2">
                                <div class="row">
                                    <div class="col-sm-12 text-align-left">
                                        <div class="btn-group">
                                            <a href="@Url.Action("New", "Order")" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i> New Order </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="padding-10">
                                    <table id="Orders"></table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="s3">
                                <div class="row">
                                    <div class="col-sm-12 text-align-left">
                                        <div class="btn-group">
                                            <a href="@Url.Action("New", "Order")" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i> New Quote </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="padding-10">
                                    <table id="Quotes"></table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="s4">
                                <div class="row">
                                    <div class="col-sm-12 text-align-left">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#newShippingAddress"> <i class="fa fa-plus"></i> New Shipping Address </button>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="newShippingAddress" tabindex="-1" role="dialog" aria-labelledby="newShippingAddress">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Add New Shipping Address</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        @Html.Partial("Partial_Views/NewShippingAddress", new DataAccess.Models.ShippingAddress())
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Modal-->
                                    </div>
                                </div>
                                <div class="padding-10">
                                    <table id="Shipping"></table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>



        </div>
    </div>



</div>
<!-- END MAIN CONTENT -->


@section pagespecific {


    <script>
        $(document).ready(function () {

            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#Shipping').DataTable({
                serverSide: true,
                ajax: {
                    url: appRoot + "customer/GetShippingAddress",
                    data: function (d) {
                        return $.extend({}, d, {
                            customerId: "@Model.CustomerID"
                        });
                    }
                },
                "searching": false,
                columns: [
                    {
                        name: 'ShippingAddressID',
                        data: 'ShippingAddressID',
                        title: "ShippingAddressID",
                        sortable: false,
                        searchable: false,
                        visible: true
                    },
                    {
                        name: 'Address1',
                        data: "Address1",
                        title: "Address1",
                        sortable: true,
                        searchable: true
                    }
                ]
            });

            $('#newShippingAddress').on('submit', '#new-ship-address-form', function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    type: "POST",
                    url: appRoot + "customer/NewShippingAddress",
                    data: form.serialize(),
                })
                    .success(function () {
                        $('#newShippingAddress').modal('hide');
                    })
            });

            $('#newContact').on('submit', '#new-contact-form', function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    type: "POST",
                    url: appRoot + "customer/NewContact",
                    data: form.serialize(),
                })
                    .success(function () {
                        $('#newContact').modal('hide');
                    })
            });

            $('#updateCompanyDetails').on('submit', '#update-company-details-form', function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    type: "POST",
                    url: appRoot + "customer/UpdateCompanyDetails",
                    data: form.serialize(),
                })
                    .success(function () {
                        $('#updateCompanyDetails').modal('hide');
                    })
            });
        });
    </script>
}
